/**
 * Ruuts theme for reveal.js.
 *
 * By Phillip David Penny, https://philpenny.co.uk
 */


// Default mixins and settings -----------------
//@import "../template/mixins";
//@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
//@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
img{border: 0;}

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.75em;
$heading3Size: 1.5em;

$green: #aac446;
$blue: #a4cdc6;
$orange: #f0a836;
$pink: #cc138a;
$black: #404041;
$gray: lighten($black, 50);
$white: #ffffff;


.reveal section{
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	max-height: 100vh;

	.tech{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		img{align-self: center; max-height: 60vh; width: auto;}
		.wi-fi {
		animation: pulse 2.5s infinite;
		}

		@keyframes pulse {
		0% {
		opacity: 1;
		}
		50% {
		opacity: 0;
		}
		100% {
		opacity: 1;
		}
		}
}
.model{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	img{align-self: center; max-height: 60vh; width: auto;}
}

	h1,h2,h3{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1em;
		margin-bottom: 1rem;
		font-weight: 900;
		letter-spacing: -0.05em;
		color: $black;
	}
	h1{font-size: 5em;}
	h2{font-size: 3em;}
	h3{font-size: 1.5em; font-weight: 100;letter-spacing: 0.025em;}
	p, blockquote, label, li{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.5em;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: $black;
	}
	li{margin-left: 1em;}
	strong{font-weight: 900;}
	.dark{
		h1,h2,h3,p{color: $white;}
	}
	.light{font-weight: 300;}
	img{
		width: 100%;
		height: auto;
		background:0;
		max-height: 90vh;
		max-width: 90vw;
	}

	.temp{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1em;
		font-weight: 600;
		text-transform: uppercase;
		display: none;
	}
	.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
}

	.image-row{
		padding: 10vh 0;
		display: flex;
		justify-content: space-around;
		align-content: center;
	}
	.image-grid{
		padding: 10vh 0;
		display: flex;
		flex-wrap: wrap;
		div{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.plan{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			margin-bottom: 1vh;
		}
		.beta{color: $white; height: 15vh;}
		.bus{border-left: 1px solid $gray; border-right: 1px solid $gray; background: $white; color: $green; height: 15vh;}
		.recipe{background: $white; height: 15vh;}
		.persona1{background: $blue;}
		.persona2{background: $green;}
		.persona3{background: $orange;}
		.persona4{background: $pink;}
		.persona1, .persona2, .persona3, .persona4{
			margin: 1vh;
			width: calc(50% - 2vh);
			height: 25vh;
			h2,h3,p{color: $white;}
		}
	}
	.persona{
		text-align: left;
		font-size: 0.75em;
		img{
			background: $white;
			width: 100%;
			height: auto;
			align-self: center;
		}
		h1, blockquote {
			display: block;
			background: $blue;
			color: $white;
			padding: 1rem;
			margin-bottom: 0;
		}
		blockquote{
			padding: 1em;
		}
		.content{
			display: flex;
			border: 1px solid $blue;
			.sidebar{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 1em;
				width: 25%;

				img{align-self: center;}
			}
			.end{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 1em;
				width: 25%;

				.logo-list{
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					img{
						width: calc(25% - (3em / 4));
						height: auto;
					}
				}
			}
			.main{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-left: 1px solid $blue;
				border-right: 1px solid $blue;
				padding: 1em;
				width: 50%;

				.traits{
					display: flex;
					justify-content: space-between;
					.trait{
						display: block;
						width: calc(20% - (3em / 4));
						text-align: center;
						p{
							background: $blue;
							color: $white;
							padding: .5em;

						}
					}
				}
			}
			.bar{
				display: block;
				width: 100%;
				background: lighten($blue, 25);
				height: 0.5em;
				.bar-fill{
					display: block;
					background: $blue;
					height: 0.5em;
				}
				.five{width: 5%}
				.ten{width: 10%}
				.fifteen{width: 15%}
				.twenty{width: 20%}
				.twenty-five{width: 25%}
				.thirty{width: 30%}
				.thirty-five{width: 35%}
				.forty{width: 40%}
				.forty-five{width: 45%}
				.fifty{width: 50%}
				.fifty-five{width: 55%}
				.sixty{width: 60%}
				.sixty-five{width: 65%}
				.seventy{width: 70%}
				.seventy-five{width: 75%}
				.eighty{width: 80%}
				.eighty-five{width: 85%}
				.ninety{width: 90%}
				.ninety-five{width: 95%}
			}
			label{
				font-size: 0.8em;
				display: inline-block;
				text-align: left;

			 	& +label{float: right;}
			}
		}
	}
		ol.references{
			text-align: left;
			column-count: 2;
			column-gap: 2rem;
			padding: 0 1em;
			li{
				ol{
					margin-bottom: 1em;
					padding-bottom: 1em;
					border-bottom: 1px solid $gray;
					li{
						font-size: 0.5em;
						margin-bottom: 1em;
					}
				}
			}
		}
}



// Theme template ------------------------------
//@import "../template/theme";
// ---------------------------------------------
