/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Colours
 */

$white: #ffffff;
$green: #aac446;
$cyan: #a4cdc6;
$orange: #efa835;
$magenta: #cc138a;
$lighter: 40%;

/**
 * Basic styling
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Utilities
 */

.text-center{text-align: center;}
.shallow-list li ul li ul li{ display: none;}
.shallow-list li {width: 50%;}

.flex{
  display: flex;
  justify-content: space-between;
  margin: 0 calc(-#{$spacing-unit} / 2) $spacing-unit calc(-#{$spacing-unit} / 2);

  p, div{
    margin: calc(#{$spacing-unit} / 2);
    flex-grow: 1;
    flex-basis: 0;
  }
}
.fd--c{flex-direction: column;}
.fw--w{flex-wrap: wrap;}
.ai--c{align-items: center}
.ai--fs{align-items: flex-start}

.tags span{font-weight: bold; background: $green; padding: .25em .5em;}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm, hr{
    margin-bottom: 1em;
}

/**
 * Heading style
 */
h1, h2, h3, h4, h5, .site-title, .contents-title{
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
}

p, li{
  font-size: $base-font-size;
}
h5{
  font-size: $base-font-size * 0.75;
  line-height: $heading-line-height * 2;
  letter-spacing: .25em;
  font-weight: 700;
  margin-bottom: .5em;
}
h4, .contents-title, p.intro{
  font-size: $base-font-size * 1.25;
}
h3{
  border-top: .125em solid lighten($green, $lighter);
  margin-left: 6em;
  margin-right: 6em;
  padding-top: 1.5em;
  font-size: $base-font-size * 2;
  text-align: center;
}
h2, h1.post-title{
  font-size: $base-font-size * 2.5;
}
h2{
  border-top: .125em solid $green;
  padding-top: $spacing-unit;
  margin-top :$spacing-unit * 2;
  text-align: center;

  &.main {
    margin-top: 0;
  }
}
h1{
  margin-top: 0;
  font-size: $base-font-size * 2;
  text-align: center;
}
.page-title, time {
  display: block;
    font-size: $base-font-size;
    font-weight: 300;
    margin-bottom: 3em;
    text-align: center;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Tables
 */

table{
  border-collapse: collapse;
  margin: 0 auto 3em auto;
  font-size: 0.9em;
  width: 100%;
  text-align: left;
  position: relative;
}
table td, table th{
  padding: .5em 1em;
  min-width: 10em;
}
table th{
  background-color: white;
  border-bottom: .25em solid $green;
}
tbody tr:nth-child(odd) {
   background-color: lighten($green, $lighter);
}
.channels {
  td.selected{background: $green; color: $white;}
}
.channels tbody tr:nth-child(1) {
   border-bottom: none;
}
.channels tbody tr td:nth-child(1) {
   border-right: .25em solid $green;
   font-weight: 700;
}


/**
 * Figures
 */

figure{display: inline-block;}
figure > img {
    display: block;
	outline: 1px solid $text-color;
}

figcaption{
    font-size: $small-font-size;
}
figure.half{
	width: calc(50% - 1rem);
	margin-right: 1rem;
	margin-bottom: 1rem;
}
figure.halflast{
	width: calc(50% - 1rem);
	margin-bottom: 1rem;
}


/**
 * Lists
 */
ul, ol {
    margin-left: calc(#{$spacing-unit} / 2);
    @include media-query($desktop) {
      margin-left: 1em;
    }
}

li {
    > ul,
    > ol {
         margin-top: calc(#{$spacing-unit} / 4);
    }
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
	font-weight: 400;
    cursor: pointer;

    &:visited {
        color: darken($brand-color, 25%);
    }

    &:hover {
        text-decoration: underline;
    }
}

.button{
        display: inline-block;
        border: 1px solid $brand-color;
        border-radius: 4px;
        padding: $spacing-unit / 4 $spacing-unit / 2;
        margin: 0 $spacing-unit / 4 $spacing-unit / 4  0;

        &:hover {
        background: $brand-color;
        color: $background-color;
        text-decoration: underline;
    }
}
.active{
    background: $brand-color;
    border: 1px solid $brand-color;

    a{
        color: $background-color;
    }
}
#categories{
    margin-bottom: $spacing-unit;
    text-align: center;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}

/**
 * Blockquotes
 */

blockquote{
  margin-bottom: 0;

p {
    color: $grey-color;
    padding: $spacing-unit;
    font-size: $base-font-size * 1.25;
    margin-bottom: 0;
	text-align: center;

    > :last-child {
        margin-bottom: 0;
    }
    @include media-query($desktop) {
      padding: 4em;
    }
}
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size * .75;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
    overflow: hidden;

    @include media-query($desktop) {

    }
}

@media screen{
  .wrapper { max-width: 50em;}
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: $base-font-size;
        height: $base-font-size;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Printing and PDF generation
 */

@media print {

  a[href^="http"]:not([href*="example.com"]):after {
    content: " (" attr(href) ")";
  }
  @page {
  margin: 10mm;
}
p, h1, h2, h3, h4 ,h5 {
  orphans: 2;
  widows: 2;
}
h2 {
  page-break-before: always;
  break-before: page;
  margin-top :$spacing-unit / 2;
}
h2, h3, h3, h4, h5{
  page-break-after: avoid;
  break-after: avoid-page;
}
img, table{
  page-break-inside: avoid;
  break-inside: avoid;
}

}
