/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm, hr{
    margin-bottom: $spacing-unit;
}

/**
 * Heading style
 */
h1, h2, h3, h4, .site-title{
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
    line-height: $heading-line-height;
    text-transform: uppercase;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    margin-bottom: 1em;
    text-align: center;
}

p, li{
  font-size: $base-font-size;
}
h5{
  font-size: $base-font-size;
  line-height: $heading-line-height;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
  font-weight: 700;
  margin-bottom: 1em;
}
h4, p.intro{
  font-size: $base-font-size * 1.25;
}
h3{
  font-size: $base-font-size * 1.5;
  margin-top: 2em;
}
h2, h1.post-title{
  font-size: $base-font-size * 2;
}
h1{
  font-size: $base-font-size * 2.5;
}
.site-title {
    font-size: $base-font-size * 3;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
	word-spacing: $base-font-size * 80;

    &,
    &:visited {
        color: $background-color;
    }
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Tables
 */
table{
 overflow-y: scroll;
 max-width: 100%;

 td{
   min-width: 10em;
 }
}


/**
 * Figures
 */

figure{display: inline-block;}
figure > img {
    display: block;
	outline: 1px solid $text-color;
}

figcaption{
    font-size: $small-font-size;
}
figure.half{
	width: calc(50% - 1rem);
	margin-right: 1rem;
	margin-bottom: 1rem;
}
figure.halflast{
	width: calc(50% - 1rem);
	margin-bottom: 1rem;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit / 2;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
	font-weight: 400;
    cursor: pointer;

    &:visited {
        color: darken($brand-color, 25%);
    }

    &:hover {
        text-decoration: underline;
    }
}

.button{
        display: inline-block;
        border: 1px solid $brand-color;
        border-radius: 4px;
        padding: $spacing-unit / 4 $spacing-unit / 2;
        margin: 0 $spacing-unit / 4 $spacing-unit / 4  0;

        &:hover {
        background: $brand-color;
        color: $background-color;
        text-decoration: underline;
    }
}
.active{
    background: $brand-color;
    border: 1px solid $brand-color;

    a{
        color: $background-color;
    }
}
#categories{
    margin-bottom: $spacing-unit;
    text-align: center;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    padding: $spacing-unit * 2;
    font-size: $base-font-size * 1.25;
    letter-spacing: -1px;
	text-align: center;

    > :last-child {
        margin-bottom: 0;
    }
    @include media-query($desktop) {
      padding: $spacing-unit 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size * .75;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
    max-width: 50em;

    @include media-query($desktop) {

    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: $base-font-size;
        height: $base-font-size;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

table{margin: 3em auto; font-size: 0.9em; width: 100%;}
table td{padding: .5em 1em;}
tbody tr:nth-child(odd) {
   background-color: $grey-color-lighter;
}
